

*{
    margin: 0px;
    padding: 0px;
}
 #nav{
    width: 100%;
    height: 6%;
    margin-top: -50px;
        
        display: flex;
        justify-content: space-evenly;
       
        position: fixed;
    
       
        background-color: rgb(179, 212, 201);
        z-index: 100;
        
    } 


#nav>div{
 
    padding: 20px;
   
  
}

   
/* ===========================nav1========================== */

#parent{
width: 100%;
display: flex;
justify-content: space-between;
position: fixed;

background-color: white;
z-index: 100;


}
#left{
width:40%;
display: flex;
justify-content: space-between;
gap:40px;
margin-left: 40px;
}
#right{
display: flex;
justify-content: space-between;
margin-right:60px ;
gap:15px
}
h1{
font-size: 12px;
margin-top: 15px;
}
h4{
margin-bottom: 15px;

}
#left1{
display: flex;
}


#hover-underline-animation {
display: inline-block;
position: relative;
color: #111212;
/* border: 2px solid rgb(9, 156, 205); */
margin-top:16px;


}

#hover-underline-animation::before{
content: '';
position: absolute;
width: 97%;
transform: scaleX(0);
height: 0.8px;
bottom: 0;

background-color: #020202;

}

#hover-underline-animation:hover::before {
transform: scaleX(1);

} 
/* ===================================== */
#parent2{
width: 100%; 
display: flex;
justify-content: space-between;
position: fixed;
border: 1px solid rgb(191, 187, 187);
margin-top: 50px;
background-color: white;
z-index: 100;

}

#lefta{
width: 10%;
display: flex;
gap: 190%;
margin-left: 140px;

}
#righta{
margin-right: 180px;
}



*{
margin: 0px;
padding: 0%;
}
#man{
width:1000px;
height: 30px;
border:1px solid rgb(180, 178, 178);
padding: 8px;
border-radius: 30px;
margin-top: 20px;
background-color: rgb(180, 178, 178);


}
input{
background: transparent;
height: 50px;
border: 0px;
outline: 0px;
width: 650px;

}
.icon-search{
color: rgb(5, 5, 5);

}

/* -------------------------------------------------------------------------- */
nav{
    height:60px;
    
    width:90%;
    border: 1px solid rgb(221, 219, 219);
    /* display: flex;
    justify-content: space-between; */
/*     
    align-items: center; */
    margin-top: 150px;
    
    padding-left: 5%;
    padding-right: 10%;
    /* position: fixed;  */
    background-color: rgb(247, 242, 242);
    
    z-index: 100;
    
   
    
    
    }

    nav ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        
    }
    

    /* .dropbtn{
      background-color: white;
      color: black;
      border: none;
      
  }
  .dropdown{
 
      position: relative;
    
      
  }
  .cont{
    height: 500px;
    width:100%;
      display: none;
      position: absolute;
      background-color: whitesmoke;
     
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      z-index: 1 ; 
  }
  .cont a{
   
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  .cont a:hover{background-color: beige;}
   .dropdown:hover .cont{display: flex;} 
   .dropdown:hover .dropbtn{background-color: white;} */

   /* ------------------------------------------------------------ */

.parent4{
    margin-top: 110px;
  

   
    background-color: white;
    z-index: -1;
  
}

.parent4>img{
  width:90%;
  margin-left: 60px;
  
 
}
.parent4 .btn{
    position: absolute;
  
    top: 80%;
    left: 80%;
    transform: translate(-50% ,-50%);
    background-color: aliceblue;
    color: black;
    font-size: 16px;
    padding: 10px;
 
    cursor: pointer;
    border-radius: 1px;
    text-align: center;
   
   


}
.parent4 .btn:hover{
background-color: transparent;

}

 .parent5{
  display: flex;
  margin-top: 60px;
  align-items: center;
 
}
.img1{

margin-top: 0px;
height:50%;
width:45.4%;
margin-left: 60px;
justify-content: space-between;
}
.parent5 .btn{
    position: absolute;
    top: 140%;
    left: 25%;
    transform: translate(-50% ,-50%);
    background-color: aliceblue;
    color: black;
    font-size: 16px;
    padding: 10px;
 
    cursor: pointer;
    border-radius: 1px;
    text-align: center;

}
.parent5 .btn:hover{
background-color: transparent;
}
 .img2{

height:50%;
/* position: relative; */
width:88%;
max-width: 4000px;
}

.parent6 .btn{
    position: absolute;
    top: 175%;
    left: 25%;
    transform: translate(-50% ,-50%);
    background-color: aliceblue;
    color: black;
    font-size: 16px;
    padding: 10px;
 
    cursor: pointer;
    border-radius: 1px;
    text-align: center;

}
.parent6 .btn:hover{
background-color: transparent;
}
.img3{
    margin-left: 60px;
    border: 1px solid red;
    width: 90%;
}

#right4{

justify-content: space-around;
display: flex;
}
h2{
font-size: 200%;
text-align: center;
padding: 2%;
color: green;
} 
.parent7{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
} 
h3{
    font-size: 20PX;
    text-align: center;
    padding: 2%;
    color: green;
    } 
    .footer{
        background-color: rgb(253, 253, 246);
    }

    .footer1{
        
        display: flex;
        gap:80px;
        padding: 25px;
        margin-left: 90px;
        text-align: center;
    }

    .footer2{
        
        display: flex;
        gap:80px;
        padding: 25px;
        margin-left: 90px;
        text-align: center;
        justify-content: space-around;
    }



    #foot{
       
        color: black;
        margin-bottom: 0px;
        margin-left: none;
        margin-right: none;
        margin-top: 2px;
        background-color: white;
     
        font-size: 15px;
        border: none;
       
    }

    #foot {
        display: inline-block;
        position: relative;
        color: #111212;
     
        margin-top:16px;
        
        
        }
        
        #foot::before{
        content: '';
        position: absolute;
        width: 97%;
        transform: scaleX(0);
        height: 0.8px;
        bottom: 0;
        
        background-color: #020202;
        
        }
        
        #foot:hover::before {
        transform: scaleX(1);
        
        }
        .footer3{
            display: flex;
            justify-content: space-around;

        } 
        .left2{
            display: flex;
            gap:50px;
            padding: 50px;
            align-items: center;
            margin-left: 80px;
        }
    

        .right3{
            display: flex;
            gap:50px;
            padding: 50px;
            align-items: center;
            margin-left: 80px;
        }
.footer4{
   
    display: flex;
    justify-content: space-around;
   
    padding: 25px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.footer5{
  
    display: flex;
    margin-top: -30px;
    gap: 20px;
   
 
    margin-left: 93px;
  
}

.footer6{
 
    display: flex;
 
    gap: 20px;
    margin-top: 20px;
 
    margin-left: 93px;
  
}

#foot1{
   
    color: black;
    margin-bottom: 0px;
    margin-left: none;
    margin-right: none;
    margin-top: 2px;
    background-color: white;
  
    font-size: 15px;
    border: none;
   
}
.parentfoot{
    width: 100%;
    height: 100%;
    background-color: rgb(253, 253, 246);

padding-bottom: 50px;
}

    /* ==========================media============= */

    @media only screen and (max-width: 600px) {
       #nav{
    width: 100%;
    height: 6%;
    margin-top: -50px;
        
        display: flex;
        justify-content: space-evenly;
       
        position: fixed;
    
       
        background-color: rgb(179, 212, 201);
        z-index: 100;
        
    } 

    }










    /* <div class="dropdown">
    <button class="dropbtn">Fishing</button>
    <div class="cont">
  <a  style="  color: green; "href="A">FISHING RELLS</a>
  
  <a style="  color: green; " href="B">FISHING ROADS</a>
  <a style="  color: green; " href="C">ROD $REEL COMBOS</a>
  <a  style="  color: green; "href="D">LURES</a>
  <a style="  color: green; " href="E">TACKLE BOXES & BAGS</a>

    </div>

</div>

<div class="dropdown">
    <button class="dropbtn"> Boating</button>
    <div class="cont">
  <a  style="  color: green; "href="A">MARINE ELECTROINCS</a>
  <a style="  color: green; " href="B">TROLLING MOTORS & ASSESSORIES</a>
  <a style="  color: green; "href="C">BOAT ASSESSORIES</a>
  <a style="  color: green; "href="D">OUT BOARD MOTOR ASSESSORIES</a>
  
    </div>

</div>

<div class="dropdown">
    <button class="dropbtn">Shooting</button>
    <div class="cont">
  <a style="  color: green; "href="">GUNS</a>
  <a style="  color: green; "href="B">AMMUNITION</a>
  <a style="  color: green; "href="C">OPTICS & SCOPES</a>
  <a style="  color: green; "href="D">SHOOTING ASSESSORIES</a>
  <a style="  color: green; "href="E">GUN STORAGE</a>


    </div>

</div>

<div class="dropdown">
    <button class="dropbtn">Hunting</button>
    <div class="cont">
  <a style="  color: green; "href="A">ARCHERY</a>
  <a style="  color: green; "href="B">OPTICS & SCOPES</a>
  <a style="  color: green; "href="C">HUNTING ASSESSORIES</a>
  <a style="  color: green; "href="D">TREE STANDS</a>
  <a style="  color: green; "href="E">TRAIL CAMERAS & ASSESSORIES</a>
  

    </div>

</div>


<div class="dropdown">
    <button class="dropbtn">Camping</button>
    <div class="cont">
  <a style="  color: green; "href="A">TENTS</a>
  <a style="  color: green; "href="B">SLEEPING GEAR</a>
  <a style="  color: green; "href="C">NEW CAMPING</a>
  <a style="  color: green; "href="D">CAMP ESSENTIAL</a>
  <a style="  color: green; "href="E">MAC</a>


    </div>

</div>

<div class="dropdown">
    <button class="dropbtn">Clothing</button>
    <div class="cont">
  <a style="  color: green; "href="./product.html">MEN's CLOTHING</a>
  <a style="  color: green; "href="B">WOMEN's CLOTHING</a>
  <a style="  color: green; "href="C">KID's CLOTHING</a>
  <a style="  color: green; "href="D">HUNTING CLOTHING</a>
  <a style="  color: green; " href="E">SUNGLASSES</a>
 

    </div>

</div>


<div class="dropdown">
    <button class="dropbtn">Footware</button>
    <div class="cont">
  <a style="  color: green; " href="A">MEN's CLOTHING</a>
  <a style="  color: green; "href="B">WOMEN's CLOTHING</a>
  <a style="  color: green; "href="C">KID's CLOTHING</a>
  <a style="  color: green; "href="D">WADERS</a>
  <a style="  color: green; "href="E">SOCKS</a>


    </div>

</div>

<div class="dropdown">
    <button class="dropbtn">Ride</button>
    <div class="cont">
  <a style="  color: green; "href="A">BIKES $ ACCORSSORIES</a>
  <a style="  color: green; "href="B">TRUCKS $ AUTO</a>
  <a style="  color: green; "href="C">TAILER ACCORSSORIES</a>
  <a style="  color: green; "href="D">ATV ACCORSSORIES</a>

  <a href="F">Columbia</a>
  <a href="G">COACH</a>
  <a href="H">Free People</a>
  <a href="I">IZOD</a>
  <a href="J">Levi's</a>

    </div>

</div>


<div class="dropdown">
    <button class="dropbtn">Home & Gifts</button>
    <div class="cont">
  <a style="  color: green; "href="./product.html">HOME DECORE</a>
  <a style="  color: green; "href="B">FURNITURE</a>
  <a style="  color: green; "href="C">TOYS</a>
  <a style="  color: green; "href="D">FOOD $ DRINK</a>
  <a style="  color: green; "href="E">NATURE</a>
  

    </div>

</div>


<div class="dropdown">
    <button class="dropbtn">Bargain Cave</button>
    <div class="cont">
        <a style="  color: green; "href="./product.html">HOME DECORE</a>
        <a style="  color: green; "href="B">FURNITURE</a>
        <a style="  color: green; "href="C">TOYS</a>
        <a style="  color: green; "href="D">FOOD $ DRINK</a>
        <a style="  color: green; "href="E">NATURE</a>

    </div>

</div>











</div> */
